body{
	width: 500px;
	margin: 10px auto;
	font-family: sans-serif;
	background: #black;


	/**margin-top: 20px;
	margin-bottom: 20px;

	margin: 20px 0 20px 0;
	margin: 20px 5px 10px;**/
}
h2{
	font-size: 39px;
	line-height: 43px;
	letter-spacing: -1px;
}

a{
	color: #276056;
	font-size: 14px;
}
a:hover{
	color: black;
}

p{
	font-size:14px; 
	line-height: 21px;
}
article img{
	float: left;
	margin-right: 35px;
}
article h2{
	margin: 0;
}
.continue{
	float: right;
	font-style: italic;
}
.continue:after{
	content: ')'
}
.continue:before{
	content: '('
}
.meta{
	padding left: none;
	margin: 0 0 6px;
}
.meta a, .post_info a{
	font-style: italic;
}
.meta li:after {
	content:'\\';
	padding: 0 3px;
	color: #999;
}
.meta li:last-child:after{
	content: none;
}
.meta li{
	display: inline;
}
.preview{
	float: right;
	width: 350px;
}
.post_info{
	background: #f3f3f3;
	color:#999;
	padding: 6px;
	float: left;
	font-size: 14px;
}
.post_info a{
	color:#999;
	text-decoration: none;
}
.body{
	clear: both;
	color: #575757;
}